  <!DOCTYPE html>
<html  ng-app="Equip">
	<head>
		<link rel="stylesheet" href="styles/styles.css">
    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet"/>

		<style>
		</style>
	</head>

	<body>

    <div class='contiainer' ng-controller='EquipControl'>

      <!-- toolbar/header material ui element -->
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings">
            <a href='#/main'>
              <md-icon md-svg-icon="styles/60728.svg">
              </md-icon>
            </a>
          </md-button>
          <h1>
            <span>Equip</span>
          </h1>
          
          <span flex></span>

          <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="styles/dash.svg"></md-icon>
          </md-button>
      
          <md-button ng-click='toggleLeft()' class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="styles/plus32.svg"></md-icon>
          </md-button>

          <md-button ng-click='login()' aria-label="More">
            LOGIN
          </md-button>

          <md-button ng-click='logout()' aria-label="More">
            LOGOUT
          </md-button>
        </div>

      </md-toolbar>


    <!-- Everything will be rendered into our view here -->
      <div class='viewContainer'>
        <div ui-view></div>
      </div>
      
    </div>



    <script src="bower_components/moment/moment.js" type="text/javascript" ></script>
    <script src='bower_components/underscore/underscore.js'></script>
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>
    <script src='bower_components/angular-route/angular-route.js'></script>
    <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
    <script src='bower_components/angular-bootstrap/ui-bootstrap.js'></script>
    <script src="bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
    <script src="bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="bower_components/angular-material/angular-material.js" type="text/javascript" ></script>


    <!-- // <script src='material_modules/form.js'></script> -->
    <script src='main/main.js'></script>
    <script src='inventory/inventory.js'></script>
    <script src='auth/auth.js'></script>
    <script src='manage/manage.js'></script>
    <script src='services/service.js'></script>
    <script src='appControl.js'></script>


    <script src='app.js'></script>


	</body>

</html>