<!DOCTYPE html>
<html  ng-app="Equip">
	<head>
		<link rel="stylesheet" href="styles/styles.css">
    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<style>
		</style>
	</head>

	<body>

  <div class='super' ng-controller='EquipControl'>

    <div class='topContainer'>
          <img src='styles/60728.svg' style="width:250px;height:175px;">

      <div class='signIn'>
        <div class='button'>
         <a ng-click='toggle()' href='#/signIn' ng-model='interesting'>Manage Inventory</a>
         <!-- <a ui-sref='addInv' ng-model='interesting'>Dash</a> -->
        </div>
      </div>

      <div ng-show='signedIn' class='nav'>
        <div class='button'>
         <a ng-click='toggle()' href='#/manage' ng-model='interesting'>Manage Inventory</a>
         <!-- <a ui-sref='addInv' ng-model='interesting'>Dash</a> -->
        </div>
      </div>

    </div>

    <ul ng-show='!manageInUse' ng class='inventories' ng-repeat='inv in inventories.bobsBoots'>
      <!-- render a new list item for each item in the inventory -->
      <li class='inv' ng-click='addToInventory()' ><a href='#/addInv'> {{inv.name}}</a>
      </li>

    </ul>

    <div class='viewContainer'>
      <div ng-show='manageInUse' ui-view></div>
    </div>
      
    </div>



</div>
  

  <script src='bower_components/underscore/underscore.js'></script>
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>
  <script src='bower_components/angular-route/angular-route.js'></script>
  <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
  <script src='bower_components/angular-bootstrap/ui-bootstrap.js'></script>

  <script src='app.js'></script>
  <script src='appControl.js'></script>
  <script src='manage/manage.js'></script>


	</body>

</html>