
<div class='layout' layout="column" ng-cloak class="md-inline-form">
  <md-content md-theme="docs-light" layout-gt-sm="column" layout-padding>

	  <form name="userForm">
	    <md-input-container>
	      <label>Username</label>
	      <input ng-model="username">
	    </md-input-container>
	    <md-input-container>
	      <label>Password</label>
	      <input ng-model="password" type="password">
	    </md-input-container>
		</form>
		<md-button layout='column' ng-click='signIn()' class="md-raised md-primary">Login</md-button>


  </md-content>
</div>