/*some stylings for ui-bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.super {
  width: 400px;
  height: 900px;

}
.topContainer {
  width: 800px;
  height: 220px;
}

.nav {
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
  height: 50px;
}

.button {
  display: inline-block;
}
.viewContainer {
  width: 800px;
  height: 300px;
  margin-top: 20px auto;
}
.itemInput {
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
  height: 200px;
}
.itemInput > form {

}
.itemInput > form > input {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 10px;
}

textarea {
	width: 275px;
	height: 300px;

}

