/*some stylings for ui-bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/*stylings for top level template*/
.container {
  width: 100%;
  height: 900px;

}

.layout {
  width: 500px;
  /*margin: 0 auto;*/
}

.button {
  display: inline-block;
}
.viewContainer {
  width: 100%;
  height: 300px;
  margin-top: 30px
}
.itemInput {
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
  height: 200px;
}
.itemInput > button {
  margin-bottom: 10px;
}
.itemInput > form > input {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 10px;
}
.signUp {
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
  height: 200px;
}
.signUp > form > input {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 10px;
}

.item {
  text-align: center;
  font-size: 15px;
  border: solid;
  width: 300px;
  height: 80px;
  border-width: 1px;
  border-radius: 5px;
}
.signIn > form > input {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 10px;
}
.sidebar {
  float: left;
  width: 30%;
  height: 100%;
}
.inventory {
  width: 800px;
  height: 100%;
}

textarea {
	width: 275px;
	height: 300px;

}

