/*some stylings for ui-bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.super {
  width: 400px;
  height: 900px;

}
.topContainer {
  width: 800px;
  height: 220px;
  margin-bottom: 20px;
}

.nav {
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
  height: 50px;
}

.button {
  display: inline-block;
}
.viewContainer {
  width: 800px;
  height: 300px;
  margin-top: 30px
}
.itemInput {
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
  height: 200px;
}
.itemInput > button {
  margin-bottom: 10px;
}
.itemInput > form > input {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 10px;
}
.signIn {
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
  height: 200px;
}
.signIn > form {

}
.item {
  text-align: center;
  font-size: 30px;
  border: solid;
  width: 300px;
  height: 80px;
  border-width: 1px;
  border-radius: 5px;
}
.signIn > form > input {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 10px;
}

textarea {
	width: 275px;
	height: 300px;

}

