<!-- template for business main -->


  <section layout="row" flex>
    <!-- this is the html for the side nav -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Add Item</h1>
      </md-toolbar>
      <md-content>

  		  <form class='addItemForm'>
  		    <md-input-container>
  		      <label>New Item</label>
  		      <input ng-model="item">
  		    </md-input-container>
  		    <md-input-container>
  		      <label>Quantity</label>
  		      <input ng-model="amt">
  		    </md-input-container>
  		    <md-input-container>
  		      <label>Price</label>
  		      <input ng-model="price">
  		    </md-input-container>
  		    <md-input-container>
  		      <label>img</label>
  		      <input ng-model="img">
  		    </md-input-container>
  		    <md-input-container>
  		      <label>dates</label>
  		      <input ng-model="dates">
  		    </md-input-container>
  		    <md-input-container>
  		      <label>desc</label>
  		      <textarea ng-model="desc" columns="1" md-maxlength="150" rows="5"></textarea>
  		    </md-input-container>
  		  <form>

      </md-content>
	    <md-button ng-click='addTo()' class="md-raised md-primary">	 Add Item
	  	</md-button>
    </md-sidenav>
    <!-- end sidenav  -->
  </section>


  <!--   this is a the main view that will house our message notification side nav and the ui view that will render our inventory and all of it's items -->
  <section class='mainView' flex layout='row'>

  	<md-sidenav class="md-sidenav-left md-whiteframe-z1 messages" md-component-id="left" md-is-locked-open="true">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Notifications</h1>
      </md-toolbar>
      <md-content layout-padding>
	        <md-list-item class="md-3-line" ng-repeat="message in messages">
	      	<md-divider ></md-divider>
	        	<img />
	        	<div class="md-list-item-text" layout="column">
	          	<h3>{{ message.name }}</h3>
	          	<p>{{ message.items[0].item }}</p>
              <p> From: {{ message.dates[0] }}</p> 
              <p>To: {{ message.dates[message.dates.length-1] }}</p>
              <p> {{message.email}}</p>
              <p> {{message.phone}}</p>
	        	</div>
	        	<md-divider ></md-divider>
	      	</md-list-item>
	      	<md-divider ></md-divider>
      	</md-content>
    </md-sidenav>

    <!-- here is the card that will be used as a backing for our inventory items -->
  	<div class='inventory'>
      <md-card class='inventoryCard'>
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Inventory</h1>
        </md-toolbar>
        <md-card-content layout="column" layout-align="space-between">

          <!--here is where the items in our inventory will be rendered - see the inventory.html file in the inventory directory-->
          <div ui-view></div>

        </md-card-content>
      </md-card>
  	</div>

  </section>

